/*font-family: 'Schoolbell', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'IM Fell English SC', serif;*/

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=IM+Fell+English+SC&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

  :root {
    --black: #000000;
    --gris: #A29B9B;
    --red: #B60B0B;
    --white: #ffffff;
   /* --textstyle: font-family: 'Poppins', sans-serif;*/
}
  header h1{ 
    font-family: 'Amatic SC', cursive;
    color: var(--red);
    text-align:center;
    font-size: 6rem;
    margin-top: 0;
   
  }

   
    .explication{ 
      font-family: 'Schoolbell', cursive;
      color: var(--white);
      text-align: center;
      font-size: 1.5rem;
      margin-top: 50px;
    
    }

  .fleche{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.arrow {
  position: relative;
  width: 100px;
  height: 100px;
}
.indicator{ 
  font-family: 'Schoolbell', cursive;
  color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
    
  } 
/* #container{ 
  width: 700vw;
  height: 100vh;
  justify-content: flex-start;
  display: flex;
}

body {
  overflow-y: hidden;
  overflow-x: scroll;
  background-color:var(--black);
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color:var(--black);
}*/
header {
  width: 100%;
  height: 100vh;
  background-image: url('../img/img_arriere_plan/1.bureau_background.png');
  background-size:cover;
  background-position: center;
  z-index: 1;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:var(--black);
}


/*.content {
  display: flex;
  flex-wrap: nowrap;
  width: 600vw;
}
main{ 
 
    position: relative;
    height: 100vh;
    background-image: url('../img/img_arriere_plan/fond_bureau.png');
    background-size: cover;
    background-position: 50% 80%;
    z-index: 0;
    transition: all 0.3s ease;
  
}*/
.content, main { 
  display: flex; 
  flex-wrap: nowrap; 
  width: 600vw; 
  position: relative; 
  height: 100vh; 
  background-image: url('../img/img_arriere_plan/fond_bureau.png');
  background-size: cover; 
  background-position: -50% 80%; 
  z-index: 1000; 
overflow: hidden;
}
  


section {
width: 100vw;
  height: 100vh;
  position: relative;
  
}
.header-content {
  max-width: 800px;
  text-align: center;
  padding: 0 20px;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.chapitre
{
  border: 1px solid red;
}

/*Animation lapin*/
.lapin {  
  display: inline-block;
  width: 40vw; 
  max-width: 500px;
  border: 1px solid blue;
  background-size: 1000% 100%;
  aspect-ratio: 1071/603;
  /* Styles pour l'image d'arrière plan */
   background-image: url('../img/img_personnages/sprite_sheet_lapin3.png');
  /* Styles pour l'animation */
  animation-name: marche;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(10);
  animation-play-state: paused;
}
 @keyframes marche {
  from { background-position: 0 0; }
  to { background-position: -1000% 0; } 
} 

/*Animation main*/
.main { 
  width: 55vw;
  max-width: 650px;
  border: 1px solid green;
  background-size: 4900% 100%;
  aspect-ratio: 1007/566;
  /* Styles pour l'image d'arrière plan */
   background-image: url('../img/img_personnages/output-onlinegiftools.png');
  /* Styles pour l'animation */
  animation-name: flote;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(49);
  animation-play-state: paused;
  /* Note: La feuille de sprite contient 70 images-clés, donc 70 steps */
  animation-play-state: paused;
}
 @keyframes flote {
  from { background-position: 0 0; }
  to { background-position: 4900% 0; } 
 /* Note: 70 images x 600px = 24500px */
 
}


.lapin {
  position: absolute;
  top: 65vh;
  left: 40vw;
  transform: translate(-10%, -20%);
 
}

.is-scrolling .lapin{
  animation-play-state: running;
}
.is-scrolling .main{
  animation-play-state: running;
}

#motionPath {
  overflow: visible;
 height: 100%;
}
#motionPath path {
  stroke-width: 2;
  stroke: rgb(99, 98, 98);
 
}
#motionPath .main {
  visibility: hidden;
}

/*body  {
 
  position: absolute;
}*/
/*chapitre 1*/

#drawsvg{
  width:181px ;
  height:170px;
  position: absolute;
  left: 40%;
}
.cercle.sourire,.yeuxG,.yeuxD{
  stroke:black ;
  stroke-width:3px;
  stroke-linecap:"square";
  stroke-opacity: 0; 
}
.cercle{
  fill:#D9D9D9 ;
  stroke:black ;
  stroke-width:4px;
  fill-opacity: 0;
  stroke-opacity: 0; 
}
.sourire,.yeuxG,.yeuxD{
  stroke:black ;
  stroke-width:3px;
  stroke-linecap:"square";
  stroke-opacity: 0; 
}


/*chapitre 2*/
#deux img{
  position:absolute;
  bottom: 12vh; 
  left: 50vw; 
  transform: translate(-10%, -20%);
  border: 1px solid red;
  width: 50vw;
  max-width: 600px;
}
#deux img.cadre{
  position:absolute;
  transform: translate(-15%, -40%);
  width: 20vw;
  max-width: 300px;
  bottom: 34vh;
  z-index: 1; 
  /*border: 1px solid rgb(217, 255, 0);*/
}
#deux img.boulebig{
  position:absolute;
  transform: translate(-440%, 0%);
  width: 12vw;
  max-width: 130px;
  bottom: 33vh; 
  z-index: 2; 
  /*border: 1px solid rgb(217, 255, 0);*/
}

/*chapitre 3*/
#trois img.boule{
  position:absolute;
  transform: translate(-10%, 10%);
  width: 9vw;
  max-width: 110px;
  bottom: 35vh; 
  z-index: 2; 
  border: 1px solid red;
}

/*chapitre 4*/
#quatre img{
  position:absolute;
  /*width: 60vw;*/
  bottom: 4vh; 
  left: 55vw; 
  transform: translate(-10%, -20%);
  border: 1px solid red;
  max-width: 620px;
}
.livre_devant{
  opacity: 0;
}
/*chapitre 5*/
#cinq img.avion_front{
  width: 37vw;
  transform: translate(22%, -91%);
  /*border: 1px solid rgb(51, 163, 6);*/
  max-width: 500px;
}
#cinq .all-img-cinq{
  width: 45vw;
  position:absolute;
  top: 76vh; 
  left: 49vw; 
  transform: translate(-10%, -20%);
  border: 1px solid yellow;
  max-width: 600px;
  z-index: 2;
}


/*chapitre 6*/
/*#fin img.fenetre{
  transform: translate(-5%, -135%);
  width: 27vw;
  max-width: 290px;
  border: 1px solid red; 
}*/

#parallax-bg-1{
  background-image: url(../img/img_arriere_plan/fenetre.png);
  background-size: cover; 
  height: 29vh;
  width: 24vw;
  max-width: 290px;
  transform: translate(-5%, -135%);
  background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0% 50%;
  border: 1px solid rgb(4, 0, 255);
  z-index: 3;
}

 #parallax-bg-3{
  background-image: url(../img/img_arriere_plan/ciel.png);
  background-size: cover; 
  height: 29vh;
  width: 24vw;
  max-width: 290px;
  transform: translate(-5%, -35%);
  background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 25% 100%;
  border: 1px solid rgb(4, 0, 255);
  z-index: 1;
}

#parallax-bg-2{
  background-image: url(../img/img_elements_visuels/luna.svg);
  background-size: cover; 
  width: 8vw;
  height: 8vh;
  max-width: 100px;
 position: absolute;
 top: 64%;
 left:110%;
  transform: translate(-140%, -620%);
  background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 100%;
  border: 1px solid rgb(4, 0, 255);
  z-index: 2;
}
/*#fin img.ciel{
  transform: translate(100%, -35%);
  width: 24vw;
  max-width: 280px;
  object-fit:contain;
  border: 1px solid rgb(4, 0, 255);
}*/
/*#fin img.lune{
  transform: translate(-140%, -620%);
  width: 8vw;
  max-width: 100px;
  z-index: 2;*/
  /*border: 1px solid rgb(217, 255, 0);
}*/
#fin .all-img-six{
  position:absolute;
  left: 55vh;
  top: 36vh;
}



.chapitre p{ 
  font-family: 'Schoolbell', cursive;
  color: var(--white);
  text-align:justify;
  font-size: 1rem;
  margin: 4vw;
}

/*Paralaxe*/
/*#parallax-bg-3{
  background-image: url(/img/img_arriere_plan/ciel_petit.png);
  background-size: cover;  /* ou 200% pour augmenter l'effet, si l'image originale est assez grande */
  /*background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
  
  width: 24vw;
  height: 40vh;
  max-width: 280px;
 
  border: 1px solid rgb(4, 0, 255);
}*/