/*font-family: 'Schoolbell', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'IM Fell English SC', serif;*/

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=IM+Fell+English+SC&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

  :root {
    --black: #000000;
    --gris: #A29B9B;
    --red: #B60B0B;
    --white: #ffffff;
   /* --textstyle: font-family: 'Poppins', sans-serif;*/
}
  h1{ 
    font-family: 'Amatic SC', cursive;
    color: var(--red);
    text-align:center;
   
  }

  p{ 
    font-family: 'Schoolbell', cursive;
    color: var(--white);
    text-align:center;
  } 
   /*https://tim-montmorency.com/timdoc/582-424MO/projet-scrollytelling/p2-2a/#requis-css*/ 
  body{ 
    background-color: var(--black);
    overflow-y: hidden;
  }

  main{ 
    background-image: url("/img/img_arriere_plan/fond_bureau.png");
    width: 5760px;
  }

  header{ 
    background-image: url("/img/img_arriere_plan/1.bureau_background.png");
    width: 100vw;
    height: 100vh;
    background-size:cover;
    margin-left: 10vw;
    margin-right: 10vw;
   
  }